!!!
%html
  %head
    %title Capybara drivers zoo or make friends with Poltergeist
    %meta{charset: 'utf-8'}
    %script{src: '/javascripts/slides.js'}
    %script{src: '/javascripts/jquery-2.0.3.min.js'}
    %script{src: '/javascripts/notify.js'}
    %script{src: '/javascripts/application.js'}
    %link{rel: 'stylesheet', type: 'text/css', href: '/stylesheets/application.css'}
  %body{style: 'display: none'}
    %section.slides.layout-regular.template-default
      = yield
